body {
  background-color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
  color: orange;
}

.inner-loader {
  border: 8px solid orange;
  border-top: 8px solid indigo;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loader {
  background-color: black !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-msg {
  color: white;
  text-align: center;
  line-height: 72px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.hide {
  display: none !important;
}

.loader-show {
  animation: fadeIn 100ms forwards;
}

.loader-hide {
  animation: fadeOut 100ms forwards;
}


button {
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
  border: 0.5px solid orange;
  color: orange;
  background-color: black;
}

select {
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
  border: 0.5px solid orange;
  color: orange;
  background-color: black;
  min-width: 157px;
}

.stage {
  position: fixed;
  top: 12vh;
  left: 2vw;
  width: 98vw;
  height: 66vh;
}

.head {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 10vh;
  width: 100vw;
  color: orange;
  font-size: 0.83em;
  line-height: 1em;
  font-family: monospace;
  display: flex;
  justify-content: stretch;
}

.info{
  display: flex;
  flex-grow: 1;
  max-width: 350px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 14px;
  padding-top: 4px;
  justify-content: space-around;
  gap: 6px;
  font-size: 0.95em;
  line-height: 1.1em;
}

.spacer {
  flex-grow: 2;
}

.controls{
  display: flex;
  flex-grow: 1;
  max-width: 175px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 8px;
  margin-right: 12px;
}

.foot {
  position: fixed;
  top: 80vh;
  left: 0vw;
  height: 10vh;
  width: 100vw;
  text-align: center;
  vertical-align: bottom;
  display: flex;
  justify-content: end;
  align-content: center;
}

.up {
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 0 0 0 0;
  border: 0px solid black;
  border-top: 1px solid orange;
}

.down {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 0 0 0 0;
  border: 0px solid black;
  border-bottom: 1px solid orange;
}

.left {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 25%;
  height: 100%;
  border-radius: 100% 0 0 100%;
  border: 0px solid black;
  border-left: 1px solid orange;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.right {
  position: absolute;
  top: 0%;
  left: 75%;
  width: 25%;
  height: 100%;
  border-radius: 0 100% 100% 0;
  border: 0px solid black;
  border-right: 1px solid orange;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.controls-item {
  width: 78px;
  height: 22px;
  margin-right: 1px;
  margin-top: 2px;
}

.playerPoint {
  width: 25vw;
  height: 3vh;
}

.endPoint {
  width: 25vw;
  height: 3vh;
}

.playerColor {
  display: inline-block;
  width: 1em;
}

.endColor {
  display: inline-block;
  width: 1em;
}

.move {
  width: 100%;
  height: 100%;
  max-width: 195px;
  min-width: 150px;
  position: relative;
  margin-right: 25px;
  margin-left: 25px;
}
.hand {
  margin-right: -25px;
  margin-left: -25px;
  border: 0px solid black;
  font-size: 1.7em;
}
