body {
  background-color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
}

button {
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
}

.stage {
  position: fixed;
  top: 12vh;
  left: 5vw;
  width: 90vw;
  height: 66vh;
  /*
  background-color: black;
  border: 1px solid black;
  */
}

.head {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 10vh;
  width: 100vw;
  color: silver;
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;

}

.foot {
  position: fixed;
  top: 80vh;
  left: 0vw;
  height: 10vh;
  width: 100vw;
  text-align: center;
  vertical-align: bottom;
}

.up {
  position: fixed;
  top: 80vh;
  left: 25vw;
  width: 50vw;
  height: 5vh;
}

.down {
  position: fixed;
  top: 85vh;
  left: 25vw;
  width: 50vw;
  height: 5vh;
}

.left {
  position: fixed;
  top: 80vh;
  left: 0vw;
  width: 25vw;
  height: 10vh;
}

.right {
  position: fixed;
  top: 80vh;
  left: 75vw;
  width: 25vw;
  height: 10vh;
}

.skip {
  position: fixed;
  left: 74vw;
  width: 25vw;
  height: 3vh;
  top: 1vh;
}

.reset {
  position: fixed;
  left: 74vw;
  width: 25vw;
  height: 3vh;
  top: 4vh;
}

.solve {
  position: fixed;
  left: 74vw;
  width: 25vw;
  height: 3vh;
  top: 7vh;
}

.histogram {
  position: fixed;
  left: 48vw;
  width: 25vw;
  height: 3vh;
  top: 1vh;
}


.mazes {
  position: fixed;
  left: 48vw;
  width: 25vw;
  height: 3vh;
  top: 4vh;
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
}